#paylog-submission-table {
  table-layout: auto;
  background: #ffffff;
  border-collapse: collapse;
  width: 100%;
}

#paylog-submission-table th:first-child,
#paylog-submission-table td:first-child {
  width: 1%;
  white-space: nowrap;
}

#paylog-submission-table th:not(:first-child),
#paylog-submission-table td:not(:first-child) {
  width: 7%;
}

#paylog-submission-table tbody td:not(:first-child) {
  text-align: center;
}
#paylog-submission-table tbody td:not(:first-child):empty {
  background: #eef2f3;
}

#paylog-submission-table th,
#paylog-submission-table td {
  border: 1px solid #7a8fa6;
  font-size: 10.5pt;
  padding: 3px 4px;
  line-height: 1.2;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: anywhere;
  word-break: break-word;
  vertical-align: top;
  background: #ffffff;
}

#paylog-submission-table thead th {
  background: #00326b;
  color: #000000;
  border-color: #00326b;
}

#paylog-submission-table th,
#paylog-submission-table td {
  color: #0a2f5f;
}

#paylog-submission-table thead th:nth-child(4n+1),
#paylog-submission-table tbody td:nth-child(4n+1) {
  background: #99B3C5;
}

#paylog-submission-table thead th:nth-child(4n+2),
#paylog-submission-table tbody td:nth-child(4n+2) {
  background: #FFA1AB;
}

#paylog-submission-table thead th:nth-child(4n+3),
#paylog-submission-table tbody td:nth-child(4n+3) {
  background: #FFC68D;
}

#paylog-submission-table thead th:nth-child(4n+4),
#paylog-submission-table tbody td:nth-child(4n+4) {
  background: #9ADBDE;
}

#paylog-submission-table thead th:first-child,
#paylog-submission-table tbody td:first-child {
  background: #ffffff !important;
  color: #0a2f5f;
}

#paylog-submission-table th {
  color: #0a2f5f;
}


